.tabs {
  &__controls {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    border-bottom: 2px dashed $primary;
    margin-bottom: 30px;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }

  &__control {
    margin-right: 52px;
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 1199px) {
      margin-right: 20px;
    }

    &.active {
      .input-radio-dummy label {
        color: $primary;
        text-decoration: underline;
        transition: .2s ease-in-out;
      }
    }
  }

  &__controls-mobile {
    display: none;
    position: relative;
    z-index: 3;
    @media (max-width: 600px) {
      display: block;
    }
  }

  &__controls-mobile-select {
    position: relative;
    background-color: $gray-template;
    border-radius: 26px;
    cursor: pointer;
    padding: 14px 35px 14px 20px;
    margin-bottom: 40px;
    z-index: 2;

    &.active {
      svg {
        transform: rotate(180deg);
        transition: .3s ease-in-out;
      }
    }

    svg {
      width: 18px;
      height: 18px;
      position: absolute;
      right: 20px;
      top: 16px;
      transition: .3s ease-in-out;
    }
  }

  &__controls-mobile-options {
    position: absolute;
    background-color: $gray-template;
    width: 100%;
    border-radius: 26px;
    padding: 60px 20px 20px;
    z-index: 1;
    left: 0;
    top: 15px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-in-out;
    &.opened {
      opacity: 1;
      pointer-events: initial;
      transition: .3s ease-in-out;
    }
  }

  &__controls-mobile-option {
    padding: 5px 0;
    border-top: 1px solid #d7d1d1;
  }

  &__tab {
    display: none;

    &.visible {
      display: block;
    }
  }
}