extends ../layout
include ../mixins/mixins

block header
    include ../components/header
block content
    .container
        .breadcrumbs
            a(href="/")._item Главная
            ._item.-current Контакты
    main.contacts.main-wrapper
        .container
            h1.h1 #[span.primary Контакты] медицинского центра "Я Здоров!"
        section.contacts-box
            ._container.container
                ._inner
                    ._info
                        ._info-item
                            +icon('point')
                            | Ростовская область г. Миллерово, ул.&nbsp;Льва&nbsp;Толстого&nbsp;44
                        ._info-item
                            +icon('phone')
                            a(href="tel:88005001089")._phone 8 (800) 500-10-89
                        ._info-item
                            +icon('message')
                            a(href="mailto:info@yazdorov.ru")._phone info@yazdorov.ru
                    ._map.map-container#contacts-map(data-json="data/map.json")
        section.feedback
            ._container.container
                .h1 #[span.primary Написать] письмо руководителю
                form.form
                    ._form-groups-wrapper
                        .flex-wrapper
                            .col-3
                                +form-group('tel', 'fb1', 'Введите номер телефона:', true, 'input', 'label')
                                +form-group('text', 'fb2', 'Введите ваше имя и фамилию:', true, 'input', 'label')
                            .col-9
                                +form-group-textarea('fb3', 'Введите текст сообщения:', true, '', 'input textarea', 'label')
                    button._btn.common-btn.common-btn--primary(type="submit") Отправить
                    ._text Нажимая на кнопку, я соглашаюсь на обработку моих персональных данных и ознакомлен(а) с условиями #[a(href="#") политики конфиденциальности.]
block footer
    include ../components/footer