doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Я здоров
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
        link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="styles/style.min.css")
    body
        block header
        block content
        block footer
        include components/mobile-menu
        include components/modal-callback
        include components/modal-callback-success
        include components/modal-testimonial-success
        include components/modal-cookies
        block scripts
            script(src="scripts/vendor.min.js")
            script(src="scripts/vendor/uhpv-full.min.js")
            script(src="scripts/main.min.js")

