footer.footer
    ._container.container
        ._top
            ._col
                ._col-inner
                    ._logo
                        +icon('logo')
                    ._address
                        +icon('point')
                        | Медицинский центр в&nbsp;г.&nbsp;Миллерово, ул.&nbsp;Льва&nbsp;Толстого&nbsp;44
                    ._phone-box.text-icon-box
                        +icon('phone')
                        a(href="tel:88005001089")._phone 8 (800) 500-10-89
                        span._callback.js-open-modal(data-modal="#modal-callback") Перезвоните мне
                    ._license Лицензия № ЛО-26-01-04072757 от&nbsp;8&nbsp;октября&nbsp;2021&nbsp;г.
            ._col.-nav
                ._col-inner
                    nav.__nav
                        a(href="#")._nav-item.-main Медицинские услуги
                        a(href="#")._nav-item Прием врача
                        a(href="#")._nav-item Лечение / Процедуры
                        a(href="#")._nav-item МРТ
                        a(href="#")._nav-item УЗИ
                        a(href="#")._nav-item Медицинские анализы
                        a(href="#")._nav-item КТ
                    nav.__nav
                        a(href="#")._nav-item.-main Комплексные программы
                        a(href="#")._nav-item Ежегодное обследование
                        a(href="#")._nav-item Планирование беременности
                        a(href="#")._nav-item Женское здоровье
                        a(href="#")._nav-item Мужское здоровье
                        a(href="#")._nav-item Здоровое сердце
                        a(href="#")._nav-item Реабилитация после COVID
            ._col.-nav
                ._col-inner
                    nav.__nav
                        a(href="#")._nav-item Справки и медкнижки
                        a(href="#")._nav-item Врачи медицинского центра
                        a(href="#")._nav-item Профосмотры
                        a(href="#")._nav-item Цены
                        a(href="#")._nav-item.secondary Акции и спецпредложения
                        a(href="#")._nav-item Программа лояльности
                        a(href="#")._nav-item.secondary Контакты
                    nav.__nav
                        a(href="#")._nav-item.-main О медицинском центре
                        a(href="#")._nav-item Отзывы
                        a(href="#")._nav-item Трудоустройство
                        a(href="#")._nav-item Правовая информация
                        a(href="#")._nav-item Лицензия и документы
                        a(href="#")._nav-item Пользовательское соглашение
                        a(href="#")._nav-item Политика конфиденциальности
            ._col.-mobile.mobile-only
                ._col-inner
                    nav._nav
                        a(href="#")._nav-item Медицинские услуги
                        a(href="#")._nav-item Комплексные программы
                        a(href="#")._nav-item Справки и медкнижки
                        a(href="#")._nav-item Врачи клиники
                        a(href="#")._nav-item Профосмотры
                    nav._nav
                        a(href="#")._nav-item Цены
                        a(href="#")._nav-item О клинике
                        a(href="#")._nav-item.secondary Акции и спецпредложения
                        a(href="#")._nav-item.secondary Контакты
            ._col
                ._col-inner
                    ._appointment-btn.common-btn.common-btn--primary
                        +icon('pen')
                        | Записаться на прием
                    a(href="")._account.text-icon-box
                        +icon('person')
                        ._account-text Личный кабинет пациента
                        a(href="#")._worktime.text-icon-box
                            +icon('calendar')
                            | Режим работы кабинетов и врачей
                    .social
                        a(href="#")._item
                            +icon('vk')
                        a(href="#")._item
                            +icon('tg')
                        a(href="#")._item
                            +icon('wa')
                        a(href="#")._item
                            +icon('ok')
        ._bottom
            ._copywrite © Медицинский центр "Я Здоров", 2022 год
            ._developers Разработка сайта -&nbsp;
                a(href="http://webelement.ru/") WEBELEMENT