header.header
    ._top
        ._visually-impaired-toggle.text-icon-box#specialButton
            +icon('eye')
            | Версия для слабовидящих
        a(href="#")._worktime.text-icon-box
            +icon('calendar')
            | Режим работы кабинетов и врачей
        ._phone-box.text-icon-box
            +icon('phone')
            a(href="tel:88005001089")._phone 8 (800) 500-10-89
            span._callback.js-open-modal(data-modal="#modal-callback") Перезвоните мне
        a(href="")._account.text-icon-box
            +icon('person')
            ._account-text Личный кабинет пациента
    ._middle
        ._mobile-menu-toggle.js-open-mobile-menu
            +icon('mobile-menu')
        a(href="/")._logo
            +icon('logo')
        ._address
            +icon('point')
            | Медицинский центр<br> в&nbsp;г.&nbsp;Миллерово, ул.&nbsp;Льва&nbsp;Толстого&nbsp;44
        a(href="#")._promo-btn.common-btn.common-btn--secondary Акции и спецпредложения
        ._appointment-btn.common-btn.common-btn--primary
            +icon('pen')
            | Записаться на прием
    ._bottom
        nav._nav
            a(href="#")._nav-item Медицинские услуги
            ._nav-submenu
                .close.js-close
                    +icon('close')
                ._nav-submenu-items
                    a(href="#")._nav-submenu-item.current Прием врача
                    a(href="#")._nav-submenu-item Лечение / Процедуры
                    a(href="#")._nav-submenu-item УЗИ
                    a(href="#")._nav-submenu-item Медицинские анализы
                    a(href="#")._nav-submenu-item Прием врача
            a(href="#")._nav-item.current Комплексные программы
            ._nav-submenu
                .close.js-close
                    +icon('close')
                ._nav-submenu-items
                    a(href="#")._nav-submenu-item Прием врача
                    a(href="#")._nav-submenu-item Лечение / Процедуры
                    a(href="#")._nav-submenu-item УЗИ
                    a(href="#")._nav-submenu-item Медицинские анализы
                    a(href="#")._nav-submenu-item Прием врача
                    a(href="#")._nav-submenu-item Лечение / Процедуры
                    a(href="#")._nav-submenu-item Лечение / Процедуры
                    a(href="#")._nav-submenu-item УЗИ
                    a(href="#")._nav-submenu-item Медицинские анализы
            a(href="#")._nav-item Справки и медкнижки
            a(href="#")._nav-item Врачи медицинского центра
            a(href="#")._nav-item Профосмотры
            a(href="#")._nav-item Цены
            a(href="#")._nav-item О медицинском центре
            a(href="#")._nav-item Контакты