.mobile-menu
    ._inner
        .close.js-close-mobile-menu
            +icon('close')
        ._top
            ._phone-box.text-icon-box
                +icon('phone')
                a(href="tel:88005001089")._phone 8 (800) 500-10-89
            ._appointment-btn.common-btn.common-btn--primary
                +icon('pen')
                | Записаться на прием
        ._middle
            nav._nav
                a(href="#")._nav-item.current
                    | Медицинские услуги
                    .__nav-submenu-toggle
                        +icon('arrow-right')
                ._nav-submenu
                    ._nav-back.js-menu-back
                        +icon('arrow-right')
                    ._nav-submenu-category.js-menu-back Медицинские услуги
                    ._nav-submenu-items
                        a(href="#")._nav-submenu-item Прием врача
                        a(href="#")._nav-submenu-item Лечение / Процедуры
                        a(href="#")._nav-submenu-item УЗИ
                        a(href="#")._nav-submenu-item Медицинские анализы
                a(href="#")._nav-item
                    | Комплексные программы
                    .__nav-submenu-toggle
                        +icon('arrow-right')
                ._nav-submenu
                    ._nav-back.js-menu-back
                        +icon('arrow-right')
                    ._nav-submenu-category.js-menu-back Комплексные программы
                    ._nav-submenu-items
                        a(href="#")._nav-submenu-item Прием врача
                        a(href="#")._nav-submenu-item Лечение / Процедуры
                        a(href="#")._nav-submenu-item УЗИ
                        a(href="#")._nav-submenu-item Медицинские анализы
                a(href="#")._nav-item
                    | Справки и медкнижки
                    .__nav-submenu-toggle
                        +icon('arrow-right')
                ._nav-submenu
                    ._nav-back.js-menu-back
                        +icon('arrow-right')
                    ._nav-submenu-category.js-menu-back Справки и медкнижки
                    ._nav-submenu-items
                        a(href="#")._nav-submenu-item Прием врача
                        a(href="#")._nav-submenu-item Лечение / Процедуры
                        a(href="#")._nav-submenu-item УЗИ
                        a(href="#")._nav-submenu-item Медицинские анализы
                a(href="#")._nav-item
                    | Врачи клиники
                a(href="#")._nav-item
                    | Профосмотры
                a(href="#")._nav-item
                    | Цены
                a(href="#")._nav-item
                    | О клинике
                a(href="#")._nav-item
                    | Контакты
        ._bottom