.modal.-callback-success#modal-callback-success
    ._body
        .close.js-close-modal
            +icon('close')
        ._content
            ._text #[span.primary Ваша заявка принята!]<br> Мы обязательно вам перезвоним в ближайшее время