.modal.-cookies#modal-cookies
    ._body
        ._content
            ._cookie-text
                span ООО «Я Здоров» использует файлы cookie.
                span.mobile-hide Продолжая работу с сайтом, вы подтверждаете использование сайтом cookies вашего браузера, которые помогают нам делать этот сайт удобнее для пользователей. Однако вы можете запретить сохранение файлов cookie в настройках своего браузера. Обработка данных пользователей осуществляется в соответствии с Политикой обработки персональных данных и Согласием на обработку данных пользователя сайта.
            button._btn.common-btn.common-btn--primary.common-btn.js-close-cookies Понятно