.modal.-testimonial-success#modal-testimonial-success
    ._body
        .close.js-close-modal
            +icon('close')
        ._content
            ._text #[span.primary Отзыв отправлен в отдел качества.]<br> После его обработки с вами свяжется менеджер и расскажет условия получения скидки