*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $black-template;
}

section {
  margin-bottom: 80px;
  @media (max-width: 600px) {
    margin-bottom: 60px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
}

.icon {
  width: 1em;
  height: 1em;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul, ol, li, button {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: underline solid transparent;
  color: $black-template;
  transition: 0.3s ease-in-out;
  &:hover {
    transition: 0.3s ease-in-out;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

*:focus {
  outline: none;
}

p {
  margin: 0 0 10px 0;
  &:last-child {
    margin-bottom: 0;
  }
}
